@media (max-width: 800px){
    .canlendar_container{display: block;}
    .js-calendar, .todoWrap{margin: 0 auto; border-radius: 10px;}
    .todoWrap{width: 34rem}
}

/* @media (max-width:600px){
    #over_size{display: none; }
} */

